/* font colors */
.fc_white {
  color: #ffffff;
}

/* font size */
.fss {
  font-size: 0.8rem;
}
.fsm {
  font-size: 0.9rem;
}
.fsn {
  font-size: 1rem;
}
.fsl {
  font-size: 1.2rem;
}
.fsxl {
  font-size: 1.5rem;
}
.fs2x {
  font-size: 2rem;
}

/* font styles */
.fwb {
  font-weight: bold;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tagline {
  font-family: "Cedarville Cursive", cursive;
  font-size: 1.2rem;
}
.txtC {
  text-align: center;
}
.no-decor {
  text-decoration: none;
}
.align-l {
  text-align: left;
}

/* sizing */
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-50 {
  width: 50%;
}
.h-36p {
  height: 36px;
}
.w-36p {
  width: 36px;
}
.w-20p {
  width: 20px;
  min-width: 20px;
}
.h-20p {
  height: 20px;
}
.w-28p {
  width: 28px;
  min-width: 28px;
}

/* padding */
.pad-2 {
  padding: 2px;
  box-sizing: border-box;
}
.pad-4 {
  padding: 4px;
  box-sizing: border-box;
}
.pad-8 {
  padding: 8px;
  box-sizing: border-box;
}
.pad-16 {
  padding: 16px;
  box-sizing: border-box;
}
.pad-32 {
  padding: 32px;
  box-sizing: border-box;
}
.pad_lr-16 {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.pad-0 {
  padding: 0;
}
.mar-0 {
  margin: 0px;
}
.bb {
  box-sizing: border-box;
}

/* scroll */
.sb_hid::-webkit-scrollbar {
  display: none;
}
.sb_hid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.of_scr {
  overflow-y: scroll;
}
.of_hid {
  overflow: hidden;
}

/* display */
.f {
  display: flex;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.fc {
  display: flex;
  align-items: center;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fccc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.f_spbw {
  display: flex;
  justify-content: space-between;
}
.fcbw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fbw {
  display: flex;
  justify-content: space-between;
}
.fcolbw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.f1 {
  display: flex;
  flex: 1;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.f1bwcol {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.justc {
  justify-content: center;
}
.fend {
  display: flex;
  justify-content: flex-end;
}

/* position */
.rel {
  position: relative;
}
.abs_lt {
  position: absolute;
  top: 0;
  left: 0;
}

/* border radius */
.br-4-4-0-0 {
  border-radius: 4px 4px 0 0;
}

/* misc */
.react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
}

.react-paginate li {
  display: inline-block;
}
